
<% if (typeof isLoggedIn !== 'undefined' && isLoggedIn) { %>


  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Cuidadoso</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Pagina Incial</a></li>
          <li><a class="nav-link scrollto" href="/#about">Sobre Nós</a></li>
          <li><a class="nav-link scrollto" href="/#services">Serviços</a></li>
          <li><a class="nav-link   scrollto" href="/contrate">Cuidadosos</a></li>
          <li><a class="nav-link scrollto" href="/Historico">Minhas Solicitações</a></li>
          <li class="dropdown"><a href="#"><span>Configurações</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/Perfil/<%=userId%>">Meu Perfil</a></li>
              <li class="dropdown"><a href="#"><span>Minha Agenda</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/Historico">Solicitações</a></li>
                  <li><a href="/MeusServicos">Meus Acompanhamentos</a></li>
                  <li><a href="#">Mensagens</a></li>
                  <li><a href="#">Financeiro</a></li>
                  <li><a href="#">Resumo</a></li>
                </ul>
              </li>
              <li><a href="#">Alterar Senha</a></li>
              <li><a href="#">Alterar Email</a></li>
              <li><a href="/logout">Sair (LogOut)</a></li>
            </ul>
          </li>
          
          <li><a class="getstarted scrollto" href="/Perfil/<%=userId%>">Meu Perfil</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- 


 

    <% } else { %>



  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Cuidadoso</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Pagina Incial</a></li>
          <li><a class="nav-link scrollto" href="/#about">Sobre Nós</a></li>
          <li><a class="nav-link scrollto" href="/#services">Propostas</a></li>
          <li><a class="nav-link   scrollto" href="/contrate">Cuidadores</a></li>
          <li><a class="nav-link scrollto" href="/#team">Fundadores</a></li>
         
          <li><a class="nav-link scrollto" href="/contrate">Contato</a></li>
          <li><a class="getstarted scrollto" href="/Login">Entrar</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- 



 

<% } %>