<!DOCTYPE html>
<html lang="en">

<%-include('Partials/Head.ejs') %>

  <body>

    <!-- ======= Header ======= -->
    <%-include('Partials/Header.ejs') %>
      <!-- End Header -->

      <div class="container ">
        <br><br><br><input type="hidden">
      </div>

      <main id="main">
        <section id="contact" class="contact">


          <% if(loginvar==0){ %>


            <div class="container" data-aos="fade-up">



              <div class="row">



                <div class="col-lg-9 mt-5 mt-lg-0 d-flex align-items-stretch">

                  <form action="/validarlogin" method="post" role="form" class="php-email-form">
                    <div style="text-align: center;" class="container">
                      <div class="section-title">
                        <h2>Login</h2>

                        
                      </div>
                      <div class="form-group ">
                        <label for="name">Email</label>
                        <input type="email" name="email" placeholder="Digite seu email" class="form-control" id="email"
                          required>
                      </div>
                      <div class="form-group">
                        <label for="name">Senha</label>
                        <input type="password" class="form-control" placeholder="Digite sua senha" name="senha"
                          id="email" required>
                      </div>



                      <div class="text-center"><button type="submit">Login</button></div><br>

                  </form>
                  <h4 class="text-danger  "><%=Status %></h4>
                </div>
              </div>




              <div class="col-lg-2 d-flex align-items-stretch">
                <div class="col-lg-20 mt-5 mt-lg-0 d-flex align-items-stretch">

                  <form action="/CadastroValor" method="get" role="form" class="php-email-form">
                    <div style="text-align: center;" class="container">
                      <div class="section-title">
                        <h2>Cadastro</h2>

                      </div>


                      <br>
                      <div class="text-center">

                        <button type="submit">Profissional</button>
                      </div>
                  </form>

                  <br>
                  <form action="/CadastroValor1">
                  <div class="text-center"><button type="submit">Pessoal</button></div><br>
                </form>


                </div>

              </div>




            </div>

            </div>





            <% }else if(loginvar==1){ %>


              <div class="container" data-aos="fade-up">

                <div class="section-title">
                  <h2>Cadastro Profissional</h2>
                  <form action="/login">
                    <div class="text-center"><button class="btn btn-outline-primary  " type="submit">Login</button></div>
                  </form>
                </div>

                <div class="row">


                  <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                      <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>localização:</h4>

                      </div><br>
                      <div class="row">
                        <br><br>

                        <form action="/cadastrocuidadoso" method="post" >


                          
                          <div class="form-group col-md-12">
                            
                            <label for="uf">Estado</label>
                            <select  class="form-control " name="estado" id="uf" required>
                              <option disabled selected>Selecione seu Estado</option>
                            </select>
                            <!-- <input type="" name="estado" placeholder="Ex: Minas Gerais" class="form-control"
                              id="name" required> -->
                          </div>
                          <p></p>
                          <div class="form-group col-md-12">
                            <label for="city">Cidade</label>
                            <select class="form-control " name="cidade" id="city" required>

                              <option  disabled selected>Selecione seu Estado</option>
                            </select>
                          </div>








                      </div><br><br>
                      <div class="form-group">
                        <label for="name">Bairro</label>
                        <input type="text" class="form-control" placeholder="Ex: Cristais" name="bairro" id="subject"
                          required>
                      </div><br><br>

                      <div class="row">
                        <br><br>
                        <div class="form-group col-md-6">
                          <label for="name">Rua</label>
                          <input type="text" name="rua" placeholder="Ex: Av.Afonso Pena" class="form-control" id="name"
                            required>
                        </div><br><br>
                        <p></p>
                        <div class="form-group col-md-6">
                          <label for="name">Número</label>
                          <input type="number" class="form-control" placeholder="EX: 215" name="numero" id="email"
                            required>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label for="name">Complemento</label>
                        <input type="text" class="form-control" placeholder="Ex: Casa" name="complemento" id="subject"
                          required>
                      </div><br><br>


                      <div class="form-group">
                        <label for="name">Referencia</label>
                        <input type="text" class="form-control" placeholder="Ex: Portão de grade Verde"
                          name="referencia" id="subject" required>
                      </div><br><br>
                    </div>

                  </div>



                  <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <div class="php-email-form">
                      <div class="row">
                        <h4>Informações:</h4><br><br>
                        <div class="form-group col-md-6">
                          <label for="name">Nome</label>
                          <input type="text" placeholder="Digite seu nome" name="nome" class="form-control" id="nome" required>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="name">CPF</label>
                          <input type="text" placeholder="Digite seu CPF" name="cpf" class="form-control" id="cpf" required>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="name">Email</label>
                          <input type="email" class="form-control" placeholder="Digite seu email" name="email"
                            id="email" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="name">Senha</label>
                        <input type="password" class="form-control" placeholder="Senha" name="senha" id="subject"
                          required>
                      </div>
                      <div class="form-group">
                        <label for="name">Confirmação de Senha</label>
                        <input type="password" class="form-control" placeholder="Comfirme sua Senha"
                          name="confirmacaosenha" id="subject" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Formação</label>
                        <input type="text" class="form-control" placeholder="Ex: Gerontologia" name="formacao"
                          id="subject" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Valor da sua Diaria</label>
                        <input type="number" class="form-control" placeholder="Ex: 200" name="Diaria"
                          id="subject" required>
                      </div>
                      <div class="form-group">
                        <label for="name">Data Nascimento</label>
                        <input type="date" class="form-control" placeholder="Descreva sua dúvida" name="datanascimento"
                          required></input>
                      </div>
                      <div class="form-group">
                        <label for="name">Gênero</label>
                        <select class="form-control " name="genero" id="genero">
                          <option value="Masculino">Masculino</option>
                          <option value="Feminino">Feminino</option>
                        </select><br>
                        <div class="form-group">
                          <label for="name">Numéro de Celular</label>
                          <input type="number" class="form-control" placeholder="Ex: (31) 994190706" name="celular"
                            required></input>
                        </div>
                        <div class="form-group">
                          
                         
                          <label for="imagem">Atestado de bons antecedentes:</label>
                          <input type="file" name="imagemantecedentes" accept="jpeg/*" required>
                          <br>
                        </div>
                      </div>



                      <div class="text-center"><button type="submit">Cadastrar</button></div>
                      </form>
                    </div>
                  </div>









                </div>

              </div>
              <% }else{ %>

                <div class="section-title">
                  <h2>Cadastro Pessoal</h2>
                  <form action="/login">
                    <div class="text-center"><button class="btn btn-outline-primary  " type="submit">Login</button></div>
                  </form>
                </div>

                <form action="/cadastrocuidadoso" method="post">
                <div class="container ">
                  <div class="php-email-form">
                    <div class="row">
                      <h4>Informações:</h4><br><br>
                      <div class="form-group col-md-6">
                        <label for="name">Nome</label>
                        <input type="text" placeholder="Digite seu nome" name="nome" class="form-control" id="nome" required>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="name">CPF</label>
                        <input type="text" placeholder="Digite seu CPF" name="cpf" class="form-control" id="cpf" required>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" placeholder="Digite seu email" name="email"
                          id="email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="name">Senha</label>
                      <input type="password" class="form-control" placeholder="Senha" name="senha" id="subject"
                        required>
                    </div>
                    <div class="form-group">
                      <label for="name">Confirmação de Senha</label>
                      <input type="password" class="form-control" placeholder="Comfirme sua Senha"
                        name="confirmacaosenha" id="subject" required>
                    </div>
                    
                    <div class="form-group">
                      <label for="name">Data Nascimento</label>
                      <input type="date" class="form-control" placeholder="Descreva sua dúvida" name="datanascimento"
                        required></input>
                    </div>
                    <div class="form-group">
                      <label for="name">Gênero</label>
                      <select class="form-control " name="genero" id="genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                      </select><br>
                      <div class="form-group">
                        <label for="name">Numéro de Celular</label>
                        <input type="number" class="form-control" placeholder="Ex: (31) 994190706" name="celular"
                          required></input>
                      </div>
                      
                    </div>




                    <div class="text-center"><button type="submit">Cadastrar</button></div>
                      </form>
                    </div>
                  </div>

                </form>


                <%}%>
        </section><!-- End Contact Section -->




      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <%-include('Partials/Footer.ejs') %>
        <!-- End Footer -->

        <div id="preloader"></div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/vendor/aos/aos.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="/vendor/waypoints/noframework.waypoints.js"></script>


        <!-- Template Main JS File -->
        <script src="/js/main.js"></script>
        <script src="/js/select.js"></script>


  </body>

</html>